TOKEN: 234554665445664545645623sa23df4
CHANNEL: 234234234234234234423234 #discord channel id
BOTADMIN: 34534512434234 # botadmin discord id
GCPADMIN: 34534512434234 # botadmin discord id
GCPPROJECT: SampleProjectName
GCPCONSOLEURL: https://console.cloud.google.com/home/dashboard&project=sample-project
URL: https://www.sampledomain.ca